$primary_color: #ff7200;$secondary_color: #3767ff;$link_color: #ff7200;$link_color_hover: #e06909;$link_color_active: #e06909;
                $body_default_font: Open-Sans;
            
                $heading_default_font: Gilroy-Bold;
            